@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

@font-face{
    font-family: Hyperspace;
        src:  url(assets/fonts/Hyperspace%20Bold.otf); 
}

@font-face{
    font-family: 'Space Grotesk';
        src: url(assets/fonts/SpaceGrotesk-Regular.otf); 
}

html {
    cursor: url(assets/cursor2.png), auto; 
}
body {
    background: #000; 
    color: #FFF; 
    font-family: 'Space Grotesk', monospace; 
    background-image: url(assets/spaceback.png); 
    overflow: auto;
}

header {
    text-align: center; 
    background: black; 
}
header h1 {
    font-family: 'Hyperspace';
}
header h2 {
    font-family: 'Space Mono';
}
.outline {
    background: white; 
    font-size: 0.8rem; 
    text-align: center; 
    padding: 5px; 
    margin: 10px 0px 0px 10px;
    overflow: hidden; 
    position: fixed; 
    font-family: 'Space Mono';
}
.outline ul {
    list-style-type: none;
    padding: 5px; 
}

.outline h3 {
    color: black;
}

.outline a {
    text-decoration: none; 
    color: black;
}

.outline a:hover {
    background: black; 
    color: white;
}
.essay {
    align-content: center;
    font-size: 1rem;
}

.text {
    background: white; 
    margin: 40px auto 0 auto;;
    padding: 15px; 
    color: black; 
    width: 60%; 
    float: right; 
    overflow: hidden; 
}

.tabbed {
    text-indent: 40px; 
}

.text a {
    color: black;
}

.text a:hover {
    background: black; 
    color: white;
}

#img1 {
    float: right; 
    width: 33%;
  
}
#img2 {
    
    float: right; 
    width: 25%; 
}

footer {
    text-align: center; 
    background: black; 
}

@media only screen and (max-width: 1400px) {
  .outline span {
    display: none; 
  }
}

@media only screen and (min-width: 1800px) {
  .outline {
    font-size: 1rem;
  }
}